<header class="header">
  <div class="header-content">
    <div class="logo">
      <img src="assets/img/logo.png" alt="Jektis Travel Logo">
    </div>
    
    <div class="contact-info">
      <p><i class="fas fa-phone-alt"></i> 71 706 900 / <i class="fab fa-whatsapp"></i> 98 538 070</p>
      <p><i class="far fa-clock"></i> Lun - Ven : 9h à 16h30 | Sam : 9h à 17h00</p>
    </div>
    
  </div>
  <div class="links-card">
    <nav>
      <ul>
        <li class="home-icon">
          <a href="#"><i class="fas fa-home"></i></a>
        </li>
        <li><a href="#">Hôtels En Tunisie</a></li>
        <li><a href="#">Voyages En Groupes</a></li>
        <li><a href="#">Voyage De Noces</a></li>
        <li><a href="#">Vol</a></li>
        <li><a href="#">USA</a></li>
        <li><a href="#">Visa</a></li>
        <li><a href="#">Espace Entreprise</a></li>
        <li><a href="#">Contact</a></li>
        <li class="cart-icon">
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="profile-icon">
          <a href="login"><i class="fas fa-user-circle"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  
</header>