<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h2>Nos Hôtels</h2>
      <ul>
        <li>Hôtel à Tunis</li>
        <li>Hôtel à Sousse</li>
        <li>Hôtel à Hammamet</li>
        <li>Hôtel à Djerba</li>
        <li>Hôtel à Kelibia</li>
        <li>Hôtel à Monastir</li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Recevez nos promotions par mail</h2>
      <input type="email" placeholder="Veuillez ajouter votre e-mail ici">
    </div>
    <div class="footer-section">
      <h2>Nos Voyages</h2>
      <ul>
        <li>Voyages organisés</li>
        <li>Voyages à la carte</li>
        <li>Circuits organisés</li>
        <li>Circuits à la carte</li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Infos pratiques</h2>
      <ul>
        <li>Conditions de vente</li>
        <li>Staff Jektis</li>
        <li>Pour le visa</li>
        <li>Carrières</li>
        <li>Mentions légales</li>
        <li>Service urgence 24H/24H 71/71</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Suivez-nous</h3>
      <div class="social-icons">
        <a href="https://www.instagram.com/jektis.travel/?hl=fr"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCLi9PmQLwNUSE40OcwFMO6g"><i class="fab fa-youtube"></i></a>
        <a href="https://x.com/i/flow/login?redirect_after_login=%2Fjektis_travel"><i class="fab fa-twitter"></i></a>
        <a href="https://fr.pinterest.com/jektist/"><i class="fab fa-pinterest"></i></a>
        <a href="https://www.facebook.com/JEKTIS"><i class="fab fa-facebook"></i></a>
      </div>
      <ul>
        <li>Paiement Sécurisé</li>
        <li>VISA</li>
        <li>Membres</li>
        <li>FTAV</li>
        <li>AMERICAN DIPRESS</li>
        <li>NORDIA</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>©2025 JektisTravel.com.tn - Powered BY A&E</p>
  </div>
</footer>